.sconsign.dblite
config.log
.sconf_temp
*.dylib
*.o
*.os
*.so
*.cfgc
*.pyc
*_wrap.cc
doc/html
doc/*.tag
doc/*.inc
doc/doxygen.conf
tests/.tests
tests/*.test
version.py
tests/ndarray
tests/ndarray-eigen
tests/ndarray-fft
tests/swig_test_mod.py
include/ndarray/Array.h
include/ndarray/ArrayBaseN.h
include/ndarray/ArrayRef.h
include/ndarray/Vector.h
include/ndarray/fft/FFTWTraits.h
include/ndarray/operators.h
tests/.*.succeeded
build/
