.sconsign.dblite
config.log
.sconf_temp
*.dylib
*.o
*.os
*.so
*.cfgc
*.pyc
*_wrap.cc
*Lib.py
doc/html
doc/*.tag
doc/*.inc
doc/doxygen.conf
tests/.tests
version.py
tests/ndarray
tests/ndarray-eigen
tests/ndarray-fft
tests/swig_test_mod.py
